.ckeditor_youtube-content {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.ckeditor_youtube-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Seven theme included unscoped border declaration */
.cke_dialog_body tr td:last-child {
  border-right: none;
}